h2 {
    color: green;
    font-style: oblique bold;

}
body {
    body {
        background-image: url("https://previews.123rf.com/images/orla/orla1306/orla130600047/20489844-3d-people-man-person-with-a-big-question-mark-confused-.jpg");
        background-color: white;
       }
}
